<?xml version="1.0"?>
<launch>


    <node pkg="octomap_server" type="octomap_server_node" name="octomap_server" output="screen">

        <!-- 配置参数 -->
        <param name="frame_id" value="map"/>
        <param name="base_frame_id" value="base_link"/>
        <param name="resolution" value="0.01"/>
        <param name="filter_ground" value="true"/>
        <!-- 指定点云话题 -->
        <remap from="cloud_in" to="/cloud_registered"/>
    </node>


</launch>
